body {
  background-color: #f0f0f0;
  background-image: url(../images/audioVisInverted2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.textIcon {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
}

.linkHover {
  transition: color 0.6s;
}

.linkHover:hover {
  color: #d91226;
}

.linkHover:focus {
  color: #d91226;
}

.audioPlayer {
  background-color: white;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.profileAudioPlayer,
.mobileAudioPlayer {
  background-color: white;
  border-radius: 4px;
  width: 100%;
}

audio.react-audio-player.profileAudioPlayer,
audio.react-audio-player.mobileAudioPlayer {
  height: 30.75px;
}

audio.react-audio-player.mobileAudioPlayer::-webkit-media-controls-mute-button,
audio.react-audio-player.mobileAudioPlayer::-webkit-media-controls-volume-slider,
audio.react-audio-player.mobileAudioPlayer::-webkit-media-controls-timeline {
  display: none;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Landing Button */
.css-1n1xexf-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #d91226 !important;
}

/* Checkboxes */
.css-14layt2-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0 !important;
  border-radius: 4px !important;
  transition: background-color 0.3s !important;
}

.css-14layt2-MuiButtonBase-root-MuiCheckbox-root:hover {
  background-color: #424242 !important;
}

/* Chips */
.css-1tfwrh9-MuiButtonBase-root-MuiChip-root:hover {
  background-color: #990d1b !important;
}

.css-1pjx6fa-MuiButtonBase-root-MuiChip-root .MuiChip-avatarColorSecondary {
  background-color: transparent !important;
  width: 20px !important;
  height: 20px !important;
}

/* Snackbar */
/* .css-1d9qac8-MuiPaper-root-MuiSnackbarContent-root {
  background-color: #919191 !important;
} */

/* Show Comments Button */
.css-o9bkbe-MuiButtonBase-root-MuiIconButton-root:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Add Comment Button */
.css-1ifeshr-MuiSvgIcon-root {
  animation: animate 2s ease infinite;
}

/* Post Comment Button */
.css-1wdtny5-MuiButtonBase-root-MuiButton-root {
  transition: background-color 0.3s !important;
}

.css-1wdtny5-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #d91226 !important;
}

/* Upload Button */
.css-1nhjpit-MuiButtonBase-root-MuiButton-root {
  transition: background-color 0.3s !important;
}

.css-1nhjpit-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #262626 !important;
}

/* Confirm Delete Buttons */
.css-xyktzx-MuiButtonBase-root-MuiButton-root {
  transition: background-color 0.3s !important;
}

.css-xyktzx-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #d91226 !important;
}

.css-jq1d7s-MuiButtonBase-root-MuiButton-root {
  transition: background-color 0.3s !important;
}

.css-jq1d7s-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #d91226 !important;
}

.css-i4bv87-MuiSvgIcon-root {
  fill: #e8e8e8 !important;
}

@keyframes shake {
  70% {
    transform: translate3d(-1px, 0, 0);
  }
  
  10%, 65% {
    transform: translate3d(2px, 0, 0);
  }

  20%, 40%, 60% {
    transform: translate3d(-4px, 0, 0);
  }
}


@keyframes animate {
  0%{
    fill: #e8e8e8;
  }
  25%{
    fill: #d91226;
  }
  50%{
    fill: #e8e8e8;
  }
  75%{
    fill: #d91226;
  }
  100%{
    fill: #e8e8e8;
  }
}